.jumbotron {
  padding-top: 100px;
  background-color: #ecd6eb;
}

.img-thumb {
  border: 5px solid #a84f7c;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

#about,
#contact {
  background-color: #f7f7f7;
}

footer {
  background-color: #a84f7c;
}

section {
  padding-top: 70px;
}
